@charset "UTF-8";
 .jumbotron {
                padding: 1rem 1rem !important;
                width: 100%;
            }

            p {
                margin-bottom: 0rem;
            }

            .table td, .table th {
                padding: .50rem;
            }

            .custom-file-input {
                opacity: unset;
            }

            .custom-file-label {
                background-color: transparent !important;
                border: 0px !important;
            }

            .custom-file-label::after {
                content: unset;
            }

.container{
    background: rgba(11, 13, 24, 0.6);
    width:60%;
}
.row{
  margin: 0 auto ; width:100%;  position:auto;
}
.display-9{
    text-align:center;
}
.exemple1{
    margin: 0 auto; margin-top: 20px;width:80%;
}
.exemple3{
    color: red; padding-left: 30px;
}
.row1{
    margin: 0 auto ; width:50%;  position:auto;
  }
      